nav {
	background-color: orange;
	width: 100px;
	position: sticky;
	border-radius: 20px;
}

li {
	list-style-type: none;
}

li a {
	text-decoration: none;
	color: white;
}

p {
	position: absolute;
	top: 100px;
	left: 150px;
}

footer {
	background-color: black;
	color: black;
	position: absolute;
}